.line {
height: 6px;
background-color: #000;
width: 70px;
margin: 8px auto;
}

body {
background-color: blue;
text-align: center;
}

h1 {
    font-family: sans-serif;
    color: green;
}

#apps {
background-color: aliceblue;
}

#myCarousel {
 background-color: red;
}


